.main-future {
    // .main-future__body

    &__body {
        display: flex;
        flex-direction: column;
    }
    // .main-future__item
    &__item {
        @media(min-width:991.98px){
            align-items: center;
        }
        display: flex;
        border-bottom: 1px solid  #262626;
        @media(max-width:991.98px){
            flex-direction: column;
        }
    }
}


/********************************/
.item-action {
    // .item-action__body
    &__body {
        padding-bottom: 50px;
        padding-top: 50px;
        padding-right: 80px;
        flex: 0 1 37.593985%; /* 600/1596 */
        @media(max-width:1280.98px){
            padding-right: 60px;
        }
        @media(max-width:991.98px){
            padding-right: 0px;
            border-bottom: 1px solid  #262626;
        }
    }

    // .item-action__image

    &__image {
        img {
            filter: drop-shadow(2px 2px 3px rgba(255, 209, 26, 1));
            width: 80px;
            height: 80px;
            @media(max-width:1280.98px){
                height: 60px;
                width: 60px;
            }
            @media(max-width:767.98px){
                width: 50px;
                height: 50px;
            }
        }
        &:not(:last-child){
            margin-bottom: 50px;
            @media(max-width:1280.98px){
                margin-bottom: 40px;
            }
            @media(max-width:767.98px){
                margin-bottom: 20px;
            }
        }
    }


    // .item-action__content

    &__content {
       @media(min-width:991.98px){
        border-left: 1px solid  #262626;
       }
        flex: 0 1 62.842105%; /* 987/1596 */
    }

    // .item-action__items

    &__items {
        padding: 80px 0px 80px 80px;
        @media(max-width:1280.98px){
            padding: 60px 0px 60px 60px;
        }
        @media(max-width:991.98px){
            padding: 30px 16px 30px 16px;
        }
        @media(max-width:487.98px){
            padding: 30px  0px;
        }
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        @media(max-width:1280.98px){
            gap: 20px;
        }
        @media(max-width:767.98px){
            gap: 10px;
        }
        @media(max-width:487.98px){
            grid-template-columns: repeat(1,1fr);
        }
    }

    // .item-action__item

    &__item {
    }
}


/******************************/

.card-info {
    position: relative;
    z-index: 5;
    transition: all 0.3s ease 0s;
    @media(hover:hover) {
        &:hover {
            cursor: pointer;
            box-shadow:3px 3px 4px rgb(255, 209, 26, 0.5);
        }
    }
    border-radius: 10px;
    border: 1px solid  #262626;
    background:  #1A1A1A;
    padding: 40px;
    // .card-info__title
    @media(max-width:1280.98px){
        padding: 30px;
    }
    @media(max-width:767.98px){
        padding: 24px;
    }
    &__title {
        color: #FFF;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.72px;
        &:not(:last-child){
        margin-bottom:20px;
        @media(max-width:1280.98px){
            margin-bottom: 16px;
        }
        @media(max-width:767.98px){
            margin-bottom: 4px;
        }
        }
        @media(max-width:1280.98px){
            font-size: 20px;
            letter-spacing: -0.6px;
        }
        @media(max-width:767.98px){
            font-size: 18px;
            letter-spacing: -0.54px;
        }

    }


    // .card-info__text

    &__text {
        @media(max-width:1280.98px){
            font-size: 16px ;
        }
        @media(max-width:767.98px){
            font-size: 14px;
        }
    }

}
